<app-template-full-width [title]="myTitle">
  <button (click)="changeTitle()">Change title</button>
  <!-- Le contenu de cette page est projeté ici à la place de ng-content dans template-full-width.component.html -->
  <p style="background-color: red;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere natus aliquid eligendi iure adipisci impedit quam sint quidem debitis, eius, minima cumque fugiat sequi ipsam, dolores accusantium modi laudantium similique?</p>
</app-template-full-width>
