<header class="fixed-top">
  <!-- Bouton pour ouvrir ou fermer la navigation -->

  <span (click)="toggle()">
    <ng-content select=".tr-btn"></ng-content>
  </span>

  <!-- Open bar, tu peux projeter ici tout ce que tu veux -->
  <!-- Transclusion avec ng-content -->

  <ng-content select=".tr-header"></ng-content>

</header>
<main [ngClass]="{'close-aside': open}">

  <div class="shadow position-fixed">

  </div>

  <aside>
    <div class="scroller">

      <ng-content select=".tr-nav"></ng-content>

    </div>
  </aside>

  <div class="page">

    <div class="contents">

      <ng-content select=".tr-content"></ng-content>

    </div>

    <footer>

      <ng-content select=".tr-footer"></ng-content>

    </footer>

  </div>
</main>
